<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}SinkIt!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/vendor/autobahn.min.js', 'goswebsocket') }}"></script>
    <script src="{{ asset('js/gos_web_socket_client.js', 'goswebsocket') }}"></script>
    <script src="{{ asset('js/init.js', 'sinkit') }}"></script>
</body>
</html>
