{% extends '@SinkitBundle/base.html.twig' %}

{% block body %}
    <p>Let's start to sink it!</p>
    <p><b>beloved counter: <span id="belovedCounter">0</span></b></p>
    <p>
        <button onclick="increment()">+1</button>
        <button onclick="decrement()">-1</button>
    </p>
{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}
